.main-h {
    height: calc(100vh - 48px);
}
.scrum-bg-purple {
    background: linear-gradient(0deg, rgba(255, 17, 119, 0.3), rgba(255, 17, 119, 0.3)), #181E2A;
}
.scrum-bg-green {
    background: linear-gradient(0deg, rgba(124, 255, 1, 0.3), rgba(124, 255, 1, 0.3)), #181E2A;
}
.scrum-bg-oliveGreen {
    background: linear-gradient(0deg, rgba(255, 242, 5, 0.3), rgba(255, 242, 5, 0.3)), #181E2A;
}
.scrum-bg-black {
    background: #2F343F;
}
.scrum-bg-gray {
    background: #464B55;
}
.scrum-bg-yellow {
    background: #FFF205;
}
.scrum-text-yellow {
    color: #FFF205;
}